<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="latter">
                <h6>Đăng ký nhận Email</h6>
                <div class="sub-left-right">
                    <form>
                        <input type="text" value="Nhập Email của bạn" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email here';}" />
                        <input type="submit" value="Đăng ký ngay" />
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="latter-right">

                <ul class="face-in-to">
                    <li><a href="#"><span> </span></a></li>
                    <li><a href="#"><span class="facebook-in"> </span></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-cate">
                <h6>DỊCH VỤ</h6>
                <ul>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Chính sách bảo mật	</a></li>
                    <li><a href="#">Hệ thống trung tâm - nhà sách</a></li>
                    <li><a href="#">Giới thiệu e-book</a></li>

                </ul>
            </div>
            <div class="footer-bottom-cate bottom-grid-cat">
                <h6>HỖ TRỢ</h6>
                <ul>
                    <li><a href="#">Chính sách đổi - trả - hoàn tiền</a></li>
                    <li><a href="#">Chính sách khách sỉ</a></li>
                    <li><a href="#">Phương thức vận chuyển</a></li>
                    <li><a href="#">Phương thức thanh toán</a></li>

            </div>
            <div class="footer-bottom-cate">
                <h6>TÀI KHOẢN CỦA TÔI</h6>
                <ul>
                    <li><a href="#">Đăng nhập/Tạo mới tài khoản</a></li>
                    <li><a href="#">Thay đổi địa chỉ khách hàng</a></li>
                    <li><a href="#">Chi tiết tài khoản</a></li>
                    <li><a href="#">Lịch sử mua hàng</a></li>

                </ul>
            </div>
            <div class="footer-bottom-cate">
                <h6>Liên hệ</h6>
                <ul>
                    <li><a href="#">60-62 Lê Lợi, Q.1, TP. HCM</a></li>
                    <li><a href="#">sdt:0xxxxxx</a></li>
                    <li><a href="#">gmail:ebook@gmail.com</a></li>

                </ul>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
